WebServer/NodeRed/flows_homesystem.json
[{"id":"411a3e2.4ba28c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5af3c93d.063f58","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#7381b9","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#7381b9","edited":true},"page-titlebar-backgroundColor":{"value":"#7381b9","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#a6afd2","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#7381b9","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":35,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"38f7633f.4465bc","type":"ui_tab","z":"","name":"Homesystem","icon":"dashboard","disabled":false,"hidden":false},{"id":"70b455b7.b9ab5c","type":"ui_group","z":"","name":"Webradio","tab":"38f7633f.4465bc","order":1,"disp":true,"width":8,"collapse":false},{"id":"34abb1e8.4fe3ce","type":"ui_group","z":"","name":"Wateralarm","tab":"38f7633f.4465bc","order":2,"disp":true,"width":8,"collapse":false},{"id":"b52adab.96db528","type":"debug","z":"411a3e2.4ba28c","name":"Alexa message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":540,"wires":[]},{"id":"b9ca2b6d.587ad8","type":"amazon-echo-hub","z":"411a3e2.4ba28c","port":"8980","processinput":0,"discovery":true,"x":240,"y":200,"wires":[["a23d4621.a8f5b8","5a391484.42af1c","42f8e814.76d658","2fc2c992.74a5a6","2ac172cf.0643ae","967083c4.57755"]]},{"id":"a23d4621.a8f5b8","type":"amazon-echo-device","z":"411a3e2.4ba28c","name":"Radio Küche","topic":"","x":490,"y":200,"wires":[["b52adab.96db528","2d441881.cedb08"]]},{"id":"5a391484.42af1c","type":"amazon-echo-device","z":"411a3e2.4ba28c","name":"Radio Bad","topic":"","x":490,"y":240,"wires":[["b52adab.96db528","5c6cbebe.7871"]]},{"id":"eecc4c2d.a1f8e","type":"tcp out","z":"411a3e2.4ba28c","host":"localhost","port":"51717","beserver":"client","base64":false,"end":false,"name":"To Homesystem","x":1280,"y":240,"wires":[]},{"id":"a5e86622.94e128","type":"debug","z":"411a3e2.4ba28c","name":"Debug message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":520,"wires":[]},{"id":"42f8e814.76d658","type":"amazon-echo-device","z":"411a3e2.4ba28c","name":"Lieblingssender","topic":"","x":500,"y":280,"wires":[["b52adab.96db528","b20a4786.93a828"]]},{"id":"2fc2c992.74a5a6","type":"amazon-echo-device","z":"411a3e2.4ba28c","name":"Was anderes","topic":"","x":490,"y":320,"wires":[["b52adab.96db528","e0f3781d.4af8f8"]]},{"id":"2d441881.cedb08","type":"function","z":"411a3e2.4ba28c","name":"Kitchen","func":"msg.payload = \"Kitchen=\" + msg.on + \"; Volume=\" + msg.percentage;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"5c6cbebe.7871","type":"function","z":"411a3e2.4ba28c","name":"Bathroom","func":"msg.payload = \"Bathroom=\" + msg.on + \"; Volume=\" + msg.percentage;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"b20a4786.93a828","type":"string","z":"411a3e2.4ba28c","name":"Default","methods":[{"name":"prepend","params":[{"type":"str","value":"Default="}]},{"name":"toString","params":[]}],"prop":"on","propout":"payload","object":"msg","objectout":"msg","x":720,"y":280,"wires":[["eecc4c2d.a1f8e","a5e86622.94e128"]]},{"id":"e0f3781d.4af8f8","type":"string","z":"411a3e2.4ba28c","name":"Next","methods":[{"name":"prepend","params":[{"type":"str","value":"Next="}]},{"name":"toString","params":[]}],"prop":"on","propout":"payload","object":"msg","objectout":"msg","x":710,"y":320,"wires":[["eecc4c2d.a1f8e","a5e86622.94e128"]]},{"id":"b787be42.704f3","type":"tcp in","z":"411a3e2.4ba28c","name":"From Homesystem","server":"client","host":"localhost","port":"52717","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":210,"y":660,"wires":[["a5e86622.94e128","dc6193ce.aa1cd","4a65e4da.b3944c","496a0573.e9bf7c","79dfacf7.bc0624","37a72ab1.ea47d6","914135b7.a9af88","eb3f639.6e769a","e3de2a01.008218","db1d39eb.eb8138","237916c4.e4d7aa","d9cdc120.8ef73","8fc41fd2.91791"]]},{"id":"dc6193ce.aa1cd","type":"function","z":"411a3e2.4ba28c","name":"Bathroom activity","func":"//msg.payload = msg.payload.includes(\"Bathroom: 1\");\nif( msg.payload.includes(\"Bathroom: 1\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\nif( msg.payload.includes(\"Bathroom: 0\") === true )\n{\n    msg.background = \"RED\";\n}\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":660,"wires":[["54110a75.dd8824"]]},{"id":"4a65e4da.b3944c","type":"function","z":"411a3e2.4ba28c","name":"Kitchen activity","func":"//msg.payload = msg.payload.includes(\"Kitchen: 1\");\nif( msg.payload.includes(\"Kitchen: 1\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\nif( msg.payload.includes(\"Kitchen: 0\") === true )\n{\n    msg.background = \"RED\";\n}\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":700,"wires":[["85c7c308.0d199"]]},{"id":"54110a75.dd8824","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":1,"width":4,"height":2,"passthru":false,"label":"Bathroom","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"bathroomspeaker","payloadType":"str","topic":"","x":720,"y":660,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"85c7c308.0d199","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":2,"width":4,"height":2,"passthru":false,"label":"Kitchen","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"kitchenspeaker","payloadType":"str","topic":"","x":720,"y":700,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"39ff9fc1.b4647","type":"ui_ui_control","z":"411a3e2.4ba28c","name":"","events":"all","x":620,"y":100,"wires":[["8b0b123e.4a135","a5e86622.94e128"]]},{"id":"8b0b123e.4a135","type":"function","z":"411a3e2.4ba28c","name":"Connection change","func":"if( msg.payload == \"change\" )\n{\n    msg.payload = \"radiostatusgetalarmstatus\";\n}\nelse\n{\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":100,"wires":[["eecc4c2d.a1f8e"]]},{"id":"47a3cd3e.0ebdf4","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":5,"width":8,"height":2,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"switchoff","payloadType":"str","topic":"","x":730,"y":740,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"cbf6304f.3cf2","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":3,"width":4,"height":2,"passthru":false,"label":"Volume +","tooltip":"","color":"","bgcolor":"","icon":"","payload":"volumeplus","payloadType":"str","topic":"","x":720,"y":780,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"6bc477e9.98fd78","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":4,"width":4,"height":2,"passthru":false,"label":"Volume -","tooltip":"","color":"","bgcolor":"","icon":"","payload":"volumeminus","payloadType":"str","topic":"","x":720,"y":820,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"496a0573.e9bf7c","type":"function","z":"411a3e2.4ba28c","name":"Fill station #1","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 1\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[2];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":860,"wires":[["6dd3fb5a.72f6c4"]]},{"id":"6dd3fb5a.72f6c4","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":6,"width":0,"height":0,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=2","payloadType":"str","topic":"","x":730,"y":860,"wires":[["eecc4c2d.a1f8e"]]},{"id":"79dfacf7.bc0624","type":"function","z":"411a3e2.4ba28c","name":"Fill station #2","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 2\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[3];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":900,"wires":[["3225bd3.3a3f142"]]},{"id":"3225bd3.3a3f142","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":7,"width":4,"height":1,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=3","payloadType":"str","topic":"","x":730,"y":900,"wires":[["eecc4c2d.a1f8e"]]},{"id":"37a72ab1.ea47d6","type":"function","z":"411a3e2.4ba28c","name":"Fill station #3","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 3\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[4];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":940,"wires":[["3a9d4356.e6c0fc"]]},{"id":"914135b7.a9af88","type":"function","z":"411a3e2.4ba28c","name":"Fill station #4","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 4\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[5];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":980,"wires":[["ba5cb743.52ced8"]]},{"id":"eb3f639.6e769a","type":"function","z":"411a3e2.4ba28c","name":"Fill station #5","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 5\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[6];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1020,"wires":[["b6cda492.b02448"]]},{"id":"e3de2a01.008218","type":"function","z":"411a3e2.4ba28c","name":"Fill station #6","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 6\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[7];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1060,"wires":[["6f5f1ff8.a3c24"]]},{"id":"db1d39eb.eb8138","type":"function","z":"411a3e2.4ba28c","name":"Fill station #7","func":"var stations = msg.payload.split(\";\");\nif( msg.payload.includes(\"Station: 7\") === true )\n{\n    msg.background = \"GREEN\";\n}\nelse\n{\n    msg.background = \"GRAY\";\n}\nmsg.label = stations[8];\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1100,"wires":[["377072a7.9ae05e"]]},{"id":"3a9d4356.e6c0fc","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":8,"width":4,"height":1,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=4","payloadType":"str","topic":"","x":730,"y":940,"wires":[["eecc4c2d.a1f8e"]]},{"id":"ba5cb743.52ced8","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":9,"width":4,"height":1,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=5","payloadType":"str","topic":"","x":730,"y":980,"wires":[["eecc4c2d.a1f8e"]]},{"id":"b6cda492.b02448","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":10,"width":4,"height":1,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=6","payloadType":"str","topic":"","x":730,"y":1020,"wires":[["eecc4c2d.a1f8e"]]},{"id":"6f5f1ff8.a3c24","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":11,"width":4,"height":1,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=7","payloadType":"str","topic":"","x":730,"y":1060,"wires":[["eecc4c2d.a1f8e"]]},{"id":"377072a7.9ae05e","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"70b455b7.b9ab5c","order":12,"width":4,"height":1,"passthru":false,"label":"{{label}}","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"station=8","payloadType":"str","topic":"","x":730,"y":1100,"wires":[["eecc4c2d.a1f8e"]]},{"id":"91be19d1.527978","type":"ui_led","z":"411a3e2.4ba28c","group":"34abb1e8.4fe3ce","order":1,"width":0,"height":0,"label":"Bathroom","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Bathroom","x":740,"y":1160,"wires":[]},{"id":"237916c4.e4d7aa","type":"function","z":"411a3e2.4ba28c","name":"Bathroom alarm","func":"msg.payload = msg.payload.includes(\"1: 0\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1160,"wires":[["91be19d1.527978"]]},{"id":"178de838.368f68","type":"ui_led","z":"411a3e2.4ba28c","group":"34abb1e8.4fe3ce","order":2,"width":0,"height":0,"label":"Kitchen","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Kitchen","x":740,"y":1200,"wires":[]},{"id":"d9cdc120.8ef73","type":"function","z":"411a3e2.4ba28c","name":"Kitchen alarm","func":"msg.payload = msg.payload.includes(\"2: 0\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":1200,"wires":[["178de838.368f68"]]},{"id":"645df7a3.d2e578","type":"ui_led","z":"411a3e2.4ba28c","group":"34abb1e8.4fe3ce","order":3,"width":0,"height":0,"label":"Toilet","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"Toilet","x":730,"y":1240,"wires":[]},{"id":"8fc41fd2.91791","type":"function","z":"411a3e2.4ba28c","name":"Toilet alarm","func":"msg.payload = msg.payload.includes(\"3: 0\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1240,"wires":[["645df7a3.d2e578"]]},{"id":"50b884c9.ab1d2c","type":"ui_button","z":"411a3e2.4ba28c","name":"","group":"34abb1e8.4fe3ce","order":5,"width":8,"height":"1","passthru":false,"label":"Alarm Reset","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"ClientResetAlarm","payloadType":"str","topic":"","x":750,"y":1280,"wires":[["a5e86622.94e128","eecc4c2d.a1f8e"]]},{"id":"2ac172cf.0643ae","type":"amazon-echo-device","z":"411a3e2.4ba28c","name":"Radio lauter","topic":"","x":490,"y":360,"wires":[["872b1454.c6b6d8"]]},{"id":"872b1454.c6b6d8","type":"function","z":"411a3e2.4ba28c","name":"Volume plus","func":"msg.payload = \"volumeplus\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":360,"wires":[["eecc4c2d.a1f8e","a5e86622.94e128"]]},{"id":"967083c4.57755","type":"amazon-echo-device","z":"411a3e2.4ba28c","name":"Radio leiser","topic":"","x":490,"y":400,"wires":[["41f2e2fd.56dc2c"]]},{"id":"41f2e2fd.56dc2c","type":"function","z":"411a3e2.4ba28c","name":"Volume minus","func":"msg.payload = \"volumeminus\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":400,"wires":[["eecc4c2d.a1f8e","a5e86622.94e128"]]}]